<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kethu.filetracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".base.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".profile.ProfileActivity"
            android:parentActivityName=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".status_designation.StatusDesignationActivity"
            android:parentActivityName=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".node_type.NodeTypeActivity"
            android:parentActivityName=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".office.OfficeActivity"
            android:parentActivityName=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".file_flow.FileFlowActivity" />
        <activity android:name=".search.SearchActivity" android:screenOrientation="portrait" android:parentActivityName=".home.HomeActivity"></activity>
    </application>

</manifest>